Write an SQL query to print the FIRST_NAME from Worker table after replacing ‘a’
with ‘A’.

In [ ]:
SELECT REPLACE(FIRST_NAME,'a','A') FROM Worker ;

Write an SQL query to print all Worker details from the Worker table order by
FIRST_NAME Ascending and DEPARTMENT Descending.

In [ ]:
SELECT * FROM Worker order by FIRST_NAME ASC ,DEPARTMENT DESC;

Write an SQL query to fetch the names of workers who earn the highest salary.

In [ ]:
SELECT WORKER.FIRST_NAME,WORKER.SALARY FROM 
(SELECT MAX(SALARY) AS HIGHEST_SALARY FROM Worker ) AS TEMPDB INNER JOIN WORKER ON  WORKER.SALARY=TEMPDB.HIGHEST_SALARY;