Write an SQL query to print the first three characters of  FIRST_NAME from Worker
table.

In [ ]:
SELECT SUBSTRING(FIRST_NAME,1,3) FROM worker;

Write an SQL query to find the position of the alphabet (‘a’) in the first name
column ‘Amitabh’ from Worker table.

In [ ]:
Select INSTR(FIRST_NAME, 'a') from Worker where FIRST_NAME = 'Amitabh';

Write an SQL query to print the name of employees having the highest salary in each
department.

In [ ]:
SELECT Worker.DEPARTMENT ,Worker.FIRST_NAME,Worker.SALARY FROM ( SELECT MAX(Salary) AS TOTAL_SALARY, Department
FROM Worker
GROUP BY Department) AS TEMPDB INNER JOIN Worker ON TEMPDB.DEPARTMENT=WORKER.DEPARTMENT and TEMPDB.TOTAL_SALARY=WORKER.Salary;